.form { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 40px;
}
.form h3{ 
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;

} 
.form .fieldset{ 
    display: flex; 
    flex-direction: column;
    margin-bottom: 30px;
    width: 40%;
}
.form .fieldset label{ 
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}
.form .fieldset input{ 
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: 1px solid rgba(31, 31, 31 , 0.1);
    font-size: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.form .fieldset button{ 
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px ;
    border: none;
    background: linear-gradient(90deg , #ff5c4d , #eb469f 26.56% , #8341ef 75%,#3f68f9) ;
    color: #fff;
    font-size: 16px; 
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
}
.fieldset select{ 
    padding: 15px 20px;
    border: 1px solid rgba(31, 31, 31 , 0.1);
    border-radius: 7px;
    font-size: 15px;
    box-sizing: border-box;
}