.main-film-image{ 
    width: 20%;
}
.main-film-image img { 
    width: 100%;
}
.main-film-info-detail { 
        width: 70%;
}
.main-film-info-detail h2{
    font-size: 30px;
    font-weight: 600;
}
.main-film-info-detail p { 
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin:20px 0;
}
.main-film-info-detail button{ 
    width: 200px;
}
.main-film-info-detail h4{ 
    font-size: 20px;
    margin-top: 20px;
}
.main-film-details { 
    display: flex;
}
.main-film-details p:first-child{ 
    width: 250px;
}
.main-film-details p:last-child{ 
    color: #000;
}
.main-detail{ 
    padding: 20px 40px 50px;
    background-color: #fff;
}
.detail{ 
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
