.main{ 
    padding: 20px 40px 50px;
    background-color: #fff;
    /* height: 75vh; */
    display: flex;
    justify-content: space-between;
}
.main-categories{ 
    width: 20%;
    border-right: 1px solid rgba(31, 31, 31,0.1);
    display: flex;
    flex-direction: column;
    padding: 15px 0 ;
    padding-right: 30px;
    box-sizing: border-box;
}
.main-categories h3 { 
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.main-categories a { 
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    border-bottom: 2px solid transparent;
}
.main-categories a:hover{
    border-bottom: 2px solid #f50 ; 
    /* font-weight: 600; */
    transition: 0.3s;
}


.main-content{ 
    width: 75%;
    padding: 55px 30px;
    box-sizing: border-box;
}
.main-card{ 
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(31, 31, 31,0.1);
    padding: 20px;
}
.main-card:hover { 
    background-color: #f7f7f7;
    transition: 0.3s;
}
.main-content h3{ 
    font-size:24px;
    text-align: center;
    font-weight: 700;
    margin-bottom:50px;
}

.main-card-left{ 
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.main-film-img{ 
    width: 22%;
}
.main-film-img img{ 
    width: 100%;

}
.main-film-info{ 
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.main-film-info a{ 
 text-decoration: none;
 color: #000;
}
.main-film-info a:first-child{ 
    font-size: 18px;
    font-weight: 600;
}
.main-film-info .main-card-info-button{ 
    background: linear-gradient(90deg , #ff5c4d , #eb469f 26.56% , #8341ef 75%,#3f68f9) ;
    color: #fff;

}
.main-card-info-button{ 
    padding: 7px 25px;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    gap:10px;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
}   
.main-film-info button img{ 
    width: 20%;
}
.main-card-right{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 35%;
}
.main-card-right-rate{ 
    width: 15%;
    padding-top: 10px;
}
.main-card-right-rate p { 
    font-size: 18px;
    color: #3bb33b;
}
.main-card-right .main-card-info-button{ 
width: 60%;
font-weight: 600;
}
