.profile{ 
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 40px;
}
.profile-img{ 
    width: 15%;
}
.profile-img img { 
    width: 100%;
    border-radius: 100px;

}
.profile-info{ 
    width: 80%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.profile-info p { 
    font-size: 16px;
    margin-bottom: 20px;

}
.profile-info p span {
    font-weight: 600;
}
.profile-info a{ 
    padding: 7px 20px ;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size:16px ;
    text-decoration: none;
}
.profile-info-editButton{ 
    background: linear-gradient(90deg , #ff5c4d , #eb469f 26.56% , #8341ef 75%,#3f68f9) ;
}
.profile-info-exitButton{ 
    background-color: red;
}